body {
  margin: 0;
  background: #000;
  font-family: 'Poppins', sans-serif;
  color: white;
}

/* Layout 1 */
.container {
  max-width: 900px;
  margin: 35px auto;
  padding: 18px;
}
h1 {
  font-size: 40px;
  color: #ff0000;
  margin-bottom: 18px;
}
.img-banner {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 25px;
}
.text {
  font-size: 18px;
  margin-bottom: 18px;
  line-height: 1.6;
}

/* Layout 2 */
.container.alt {
  display: flex;
  align-items: center;
  gap: 35px;
}
.img-side {
  width: 50%;
  height: 400px;
  border-radius: 12px;
  object-fit: cover;
}

/* Layout 3 */
.bg-cover {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
}
.overlay {
  margin: auto;
  max-width: 830px;
  padding: 45px 50px;
  background: rgba(0,0,0,0.63);
  border-radius: 12px;
  text-align: center;
  line-height: 1.6;
}

/* Tombol */
.btn-back {
  display: inline-block;
  margin-top: 28px;
  background: #ff0000;
  padding: 12px 25px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: .3s;
}
.btn-back:hover {
  background: #b30000;
}

.footer {
  font-size: 0.9rem;
  background: #000000;
  color: #ffffff;
}
